.menu
  display: none
  position: absolute
  box-shadow: 0 3px 13px 0 rgba(50,50,50,0.15)
  height: 2rem
  +margin-top(11)
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 0
  width: $wrap-large
  z-index: 100
  background-color: white

  +at-breakpoint(desk)
    display: block

.menu__wrapper
  display: flex
  align-items: center
  justify-content: space-between
  +padding-right(1)
  +padding-left(1)
  +padding-top(0.3)
  +padding-bottom(0.2)

.menu:before
  content: " "
  display: table
  width: 0
  height: 0
  border-style: solid
  border-width: 0 10px 10px 0
  border-color: transparent #999999 transparent transparent
  position: absolute
  left: -1px
  top: 32px

.menu:after
  content: " "
  display: table
  width: 0
  height: 0
  border-style: solid
  border-width: 10px 10px 0 0
  border-color: #999999 transparent transparent transparent
  position: absolute
  left: auto
  right: 0
  top: 32px

.menu__item
  font-weight: 700
  font-size: 0.8em
  text-transform: uppercase

.menu__item--red
  @extend .menu__item
  background-color: $dark-red
  border-radius: 0.15rem
  color: white
  padding-left: 0.25rem
  padding-right: 0.25rem
